<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') %>


<body>
    <%- include('layouts/navbar') %>
    
    <!-- Intro -->
    <section>
        <div class=" container bg-light mt-5 p-5">
            <h2 class="fw-bold text-center mx-auto p-4">
                Alpha SMS
            </h2>
            <p class="text-center fw-bold  p-2">
                A simple School Management system software
            </p>
            <p class="font-monospace text-center fw-bold text-wrap mx-auto p-2" style="width: 35rem;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit tempore minus porro aliquam unde
                repellat magni incidunt explicabo possimus.
            </p>
            <p class="fw-bold text-center mx-auto">Contact Us</p>
            <div class=" text-center">
                <span>
                    <p> <i class="bi bi-phone-fill"></i> +233 540 833 402 | +233 504 519 968</p>
                </span>
            </div>
        </div>
    </section>
    <!-- home-features -->
    <section>
        <h2 class="text-center mt-3">
            Alpha SMS provides all these solutions for your school
        </h2>
        <div class=" row container-fluid mt-5 p-5">
            <div class="card text-bg-light mb-3  col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-3 ">School settings</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Dashboard For School
                            Settings Statistics.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> School Settings And
                            Updating School Information.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Assign Grade Types To
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Terms.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Years.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Create And Manage
                            Programs Per Your School.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Grades Types.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> SMS Settings, Create
                            SMS ID & SMS Usage Monitor.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-bg-light mb-3 col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-6">STUDENT INFORMATION MANAGEMENT</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Dashboard For
                            Student(S) Information Statistics.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Create/Add/Admit New
                            Student(S).</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Edit/Update Student(S).
                        </li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> View All Students.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Delete Student(S) Data
                        </li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Search Student(S) Per
                            Class List</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Student Information
                            Center, Filter Students By Class, Program, Etc.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Export Students Lists In
                            Excel. PDF.</li>

                    </ul>
                </div>
            </div>
            <div class="card text-bg-light mb-3 col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-3">School settings</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Dashboard For School
                            Settings Statistics.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> School Settings And
                            Updating School Information.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Assign Grade Types To
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Terms.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Years.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Create And Manage
                            Programs Per Your School.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Grades Types.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> SMS Settings, Create
                            SMS ID & SMS Usage Monitor.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-bg-light mb-3 col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-3">School settings</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Dashboard For School
                            Settings Statistics.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> School Settings And
                            Updating School Information.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Assign Grade Types To
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Terms.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Years.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Create And Manage
                            Programs Per Your School.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Grades Types.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> SMS Settings, Create
                            SMS ID & SMS Usage Monitor.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-bg-light mb-3 col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-3">School settings</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> Dashboard For
                            School Settings Statistics.</li>
                        <li class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> School
                            Settings And Updating School Information.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Assign Grade Types To
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Terms.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Academic Years.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i>Create And Manage
                            Programs Per Your School.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Classes.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> Create And Manage
                            Grades Types.</li>
                        <li class="list-group-item"><i class="bi bi-check-circle-fill pe-3"></i> SMS Settings, Create
                            SMS ID & SMS Usage Monitor.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-bg-light mb-3 col-3 mx-3" style="width: 350px; height:auto;">
                <div class="card-header bg-dark text-white text-center fs-3">School settings</div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <span class="list-group-item border-0 "><i class="bi bi-check-circle-fill pe-3"></i> Dashboard
                            For School Settings Statistics.</span>
                        <span class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> School
                            Settings And Updating School Information.</span>
                        <span class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> Assign Grade
                            Types To Classes.</span>
                        <span class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> Create And
                            Manage Academic Terms.</span>
                        <span class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i> Create And
                            Manage Academic Years.</span>
                        <span class="list-group-item border-0"><i class="bi bi-check-circle-fill pe-3"></i>Create And
                            Manage Programs Per Your School.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
    <%-include('layouts/footer');-%>
    <%-include('layouts/scripts');-%>

</body>

</html>